@media only screen and (min-width:64rem){
    
    header, nav, main, footer {
        max-width: 64rem;
        margin: auto;
    }
    
    main figure.photo {
        width: 100%;
        margin: 0 0 0 2%;
        float:right;
    }

    .sec3 figure.photo{
        width: 50%;
    }
}