@media only screen and (min-width:64rem){
    
    header, nav, main, footer {
        max-width: 64rem;
        margin: auto;
    }
    
    main figure.photo {
        width: 100%;
        margin: 0 0 0 2%;
        float:right;
    }

    .sec2 {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
        border: 1px solid #000;
        padding: 1rem;
        box-shadow: 0 0 30px #fff;
        float: left;
        background-color: grey;
    }

    .sec2 h3 {
        font-size: 20px;
    }

    .sec2 ul {
        font-size: 12px;
    }

    .sec3 figure.photo{
        width: 50%;
    }
}