@media only screen and (min-width: 35rem){

    
    /* header */

    header img {width: 180px;}
    header h1 {font-size: 1rem;}
    .motto {font-size: 1rem;}

    /* navigation */

    
    
    nav ul {margin-left: 2%;}
    nav ul li {float: left;}
    nav ul li a{padding: .5rem 1rem;}
    
    /* main */
    
    main figure.photo {
        width: 100%;
        margin: 0 0 0 2%;
        float: right;
    }
    
    table {
        border: 1px solid black;
        width: 100%;
        padding: 1 1 1 1;
    }
    
    th, td {
        padding: 5px;
        text-align: center;
    }
    
    .forecast {
        display: block;
    }
    
    .sec2 {
        margin: 10px;
        position: relative;
        position: absolute;
        top: 210px;
        left: 30px;
    }
    
    .sec3 figure.photo{
        width: 30%
    }

}
