/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

    main figure.myphoto {
    width: 33%;
    margin: 0 0 0 2%;
    float: right;
}

main figure.myphoto img {
    width: 100%;
}
main figure.myphoto figcaption {
    text-align: center;
    font-size: .7rem;
}


/*----------- FOOTER --------------*/
    
} /* end of media query */