@media only screen and (min-width: 1028px){

header, footer, nav, main {max-width: 75rem; margin: auto;}

a:link {color:#8cc168;}

nav ul {padding-left: 2%;}
nav li{width: auto;}
nav a {padding: .5rem 1rem;}

main figure { width: 50%;}

div.news {column-count: 4;}

p {
	margin: 0 0 1rem 0;
}

} /* end of media query */