/* Small View */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    padding: 0 10px 0 10px;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    padding: 0 1rem 0 1rem;
    color: #7a9e9f;
}


header {
    padding: .2rem 1.5%;
    background-color: #4f6367;
    display: grid;
    grid-template-columns: 130px auto;
}

header figure.logo {
    float: left;
    margin: 0 0 0 0;
}

header figure.logo img {
    width: 125px;
}

header h1 {
    margin: 1.9rem 0 0 0;
    padding: 0;
    font-size: 1.5rem;
    color: #b8d8d8;
    text-shadow: 7px 4px 7px black;
}

.motto {
    padding: 0;
    font-weight: normal;
    font-size: .8rem;
    color: #fff;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b8d8d8+0,4f6367+100 */
    background: #b8d8d8;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b8d8d8 0%, #4f6367 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b8d8d8 0%, #4f6367 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b8d8d8 0%, #4f6367 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d8d8', endColorstr='#4f6367', GradientType=0);
    /* IE6-9 */
    ;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #000;
    padding: .8rem 2%;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
    background-color: #4f6367;
    color: #fff;
}

nav ul li a:hover {
    background-color: #eef5db;
    color: #000;
}

nav ul.hide {
    display: none;
}

main {
    min-height: 10rem;
}

div.weatherGallery {
    display: flex;
    flex-wrap: wrap;
}

div.weatherGallery figure {
    flex-basis: 100%;
    margin: 1rem 2%;
}

div.weatherGallery figure img {
    width: 100%;
    border-radius: 5% 20% 5% 10%;

}

div.weatherGallery {
    width: 100%;
}

main h1 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #7a9e9f;
    text-align: center;
    margin-bottom: 3px;
    text-shadow: 2px 2px #000;

}

main h2 {
    font-size: 1.5625rem;
    padding: 0 0 0 0;
    margin: 2rem 0 .5rem 10px;
}

main h3 {
    font-size: 1.25rem;
    padding: 0 0 5px 10px;
    margin: 0 0 .1rem 0;
}

main figure.photo {
    width: 100%;
    margin: 0 0 0 0;
    float: right;
    padding: 10px 0 0 0;
}

main figure.photo img {
    width: 100%;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

.sec1 p {
    font-size: 9px;
    margin: 0;
    font-style: italic;
}

.sec2 {
    position: absolute;
    top: 25px;
    left: 15px;
    border: 1px solid #000;
    box-shadow: 0 0 30px #fff;
    float: left;
    font-size: 10px;
    font-weight: bold;
    background: rgba(80, 180, 80, 0.5);
    padding: 0 10px 0 0;
    border-radius: 5px;
}

.sec2 h3 {
    color: #fff;
    font-size: 15px;
    text-shadow: 2px 2px #000;
    padding: 2px 0 0 5px;
}

.sec2 ul {
    padding: 0 0 0 10px;
    margin: 5px 0 0 0;
    float: right;
}

.sec2 ul li {
    font-size: 10px;
    margin: 0 0 5px 0;
    color: #fff;
    list-style-type: none;

}

.sec2 img {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 60px;
    border-style: none;

}

.sec3 img {
    border-radius: 5%;
    padding: 0 10px 10px 10px;
}

.sec3 h2 {
    padding: 0;
    text-align: center;
}

.sec3 p {
    padding: 10px 10px 20px 10px;
    margin: 0;
}

.row {
    background-color: #b8d8d8;
    border-top-color: black;
    padding: 5px 0 5px 0;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.forecast {
    display: none;
}

form {
    max-width: 350px;
    margin: auto;
}

form fieldset {
    margin: 1rem 0;
    border: 1px solid #4f6367;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #4f6367;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div,
textarea {
    display: block;
    padding-top: 1rem;
    color: #fe5f55;
    font-size: 1rem;
}

label.top,
option,
input,
form div,
textarea {
    font-family: 'Raleway', sans-serif;
    padding: 0 10px 0 10px;
    font-size: 1rem;
}

form div {
    padding-top: 1rem;
    padding-left: .75rem;
    font-size: 1rem;
}

form label.top input,
form label.top select,
textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    padding: .75rem 1.5rem;
    color: #4f6367;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form label.sbs {
    display: block;
    padding: .75rem 1.5rem;
    color: #4f6367;

}

form input.submitBtn {
    border: none;
    background-color: #fe5f55;
    color: white;
    border-radius: 1rem;
    padding: .75rem;
    margin: 0 .65rem 1rem;
    width: 95%;
    max-width: 100%;
}

form input.sumitBtn:hover {
    background-color: #4f6367;
    color: #fff;
}

form label.top input:required {
    border-right: #fe5f55 solid 6px;
}

form label.top input:required:valid {
    border-right: #4f6367 solid 6px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -11px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 40px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 40px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #7a9e9f;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.thankyou h1 {
    font-size: 5rem;
    font-weight: bold;
}

.thankyou h2 {
    padding: 0 20px 50px 20px;
    width: 100%;
    text-align: center;
}

#threecities {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 15px;
}

#threecities article img {
    width: 100%;
    border-radius: 5px 5px 5% 5%;
}

#threecities article {
    width: 100%;
    background-color: #b8d8d8;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5%;
}

#threecities p:nth-child(2) {
    color: #fe5f55;
    font-size: 20px;
}

#threecities p {
    font-size: 15px;
    padding: 2%;
    text-align: center;
    font-weight: bold;
}

#threecities ul {
    margin-top: 0;
}

#threecities h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 10px;
    text-align: center;
    text-shadow: 2px 2px black;
}

.information {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 15px;
}

.information p {
    text-align: justify;
}

.information h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.links {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 10px 10px 10px;
}

.links h2 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.links ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.links p {
    text-align: left;
    padding: 0;
}

footer {
    background-color: #4f6368;
    color: #fff;
    padding: .5rem 2%;
    text-align: center;
    font-size: 0.65rem;
    clear: both;
    width: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}





@media only screen and (min-width: 35em) {

    header img {
        width: 180px;
    }

    header h1 {
        font-size: 3rem;
        margin: 3% 0 0 0;
        padding: 0.5rem 0 0 0;
    }

    .motto {
        font-size: 1rem;
    }

    main figure.photo {
        width: 100%;
        margin: 0 0 0 2%;
        float: right;
    }

    main h1 {
        font-size: 3rem;
    }

    div.weatherGallery figure {
        flex-basis: 46%;
    }

    .herodiv {
        margin: 10px auto;
        position: relative;
    }

    .sec1 p {
        font-size: 12px;
    }

    .sec2 {
        display: block;
        padding: .5rem;
        box-shadow: 0 0 30px #fff;
        float: left;
    }

    .sec2 ul li {
        font-size: 15px;
        font-weight: bold;
        margin: 0 0 10px 0;
        color: #fff;
        list-style-type: none;
    }

    .sec2 h3 {
        font-size: 25px;
    }

    .sec2 img {
        float: left;
        padding: 0;
        width: 125px;
        border-style: none;
    }

    .sec3 figure.photo {
        width: 45%;
    }

    .sec3 p {
        padding: 20px;
    }

    .sec3 h2 {
        text-align: left;
        padding-left: 15px;
    }

    .row {
        clear: both;
        column-count: 2;
        text-align: center;
    }

    .row h3 {
        padding: 3px;
    }

    .row p {
        font-size: 14px;
    }

    div.row section:nth-child(2) {
        width: 50%;
        float: left;
    }

    div.row section:nth-child(3) {
        width: 50%;
        float: right;
    }

    table {
        /*border: 1px solid black;*/
        width: 100%;
        border-collapse: collapse;
        padding: 5px;
    }

    th {
        height: 50px;
        background-color: #4f6367;
        color: white;
    }

    tr:nth-child(odd) {
        background-color: #b8d8d8;
    }

    th,
    td {
        padding: 5px;
        text-align: center;
        border: 1px solid black;
    }

    .forecast {
        display: block;
        padding: 20px;
    }

    .forecast h2 {
        margin: 0 0 15px 0;
    }

    form input.submitBtn {
        border: none;
        background-color: #fe5f55;
        color: white;
        border-radius: 1rem;
        margin: 0 10px 10px 10px;
        width: 100%;
        max-width: 95%;
    }

    footer {
        font-size: 16px;
    }

    #threecities {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    #threecities article {
        width: 100%;
    }

    .information {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        padding: 15px;
        text-align: center;
    }

    .information figure.photo {
        grid-gap: 10px;
        padding: 10px;
    }

    .local p {
        text-align: center;
    }

    .links {
        display: grid;
    }

    .links ul {
        list-style-type: none;
        text-align: left;

    }

    .a {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .b {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .c {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .links h2 {
        text-align: left;
        padding-bottom: 10px;
    }

    .links p {
        padding-bottom: 15px;
        margin: 0;
    }
}



@media only screen and (min-width:65rem) {

    header,
    nav,
    main,
    footer {
        max-width: 65rem;
        margin: auto;
    }

    header h1 {
        font-size: 3rem;
        margin: 1% 0 0 0;
        padding: 1rem 0 0 0;
    }

    .motto {
        font-size: 1rem;
    }


    nav button {
        display: none;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .6rem 1rem;
        font-size: 18px;
    }

    nav ul.hide {
        display: block;
    }

    form label.sbs {
        padding: .4rem 1.5rem;
    }

    main figure.photo {
        width: 100%;
        margin: 0 0 0 2%;
        float: right;
    }

    div.weatherGallery figure {
        flex-basis: 29%;
    }

    .weatherGallery img:hover {
        box-shadow: 0 0 15px #333;
    }

    .sec2 {
        display: block;
        position: absolute;
        top: 20px;
        left: 15px;
        border: 1px solid #000;
        padding: 1rem;
        box-shadow: 0 0 30px #fff;
        float: left;
    }

    .sec2 h3 {
        font-size: 30px;
        padding-bottom: 10px
    }

    .sec2 ul li {
        font-size: 20px;
    }

    .sec2 img {
        padding: 0;
        width: 40px;
        border-style: none;
    }

    .sec3 figure.photo {
        width: 50%;
    }


    #threecities {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px 10px 15px;
    }

    .information {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 20px;
        padding: 20px;
        text-align: center;
    }

    .information figure.photo {
        width: 50%;
    }

    .links h2 {
        text-align: left;
    }

    .links figure.photo {
        width: 30%;
    }

    .c {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .c h2 {
        padding: 0;
        margin: 0;
    }


    .local p {
        text-align: left;
    }
}
