/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/



    /*----------- HEADER --------------*/


    /*----------- NAVIGATION --------------*/


    nav ul li {
        width: auto;
    }

    nav ul li:first-child a {
        border-left: 1px solid #777;
    }

    nav ul li:last-child a {
        border-right: 1px solid #777;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }




    /*----------- MAIN --------------*/

    /*----------- Home Page --------------*/

    .herodiv .btn {
        position: absolute;
        height: 40px;
        top: 80%;
        left: 16rem;
        border-radius: 5%;
        font-size: 25px;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sec2 {
        top: 20px;
        display: block;
        display: inline-block;
        padding-left: 3px;
    }

    .sec2 h3 {
        padding: 0;
        margin: 0;
    }

    .sec2 ul li {
        display: inline-block;
        padding: 5px;
        font-size: 0.8rem;
    }

    .sec3 {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .sec3 figcaption {
        font-size: 16px
    }

    .sec4 img {
        border-radius: 5%;
        padding: 0 10px 0 10px;
    }

    .sec4 figure.photo {
        width: 45%;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    .templegrid {
        grid-template-columns: 1fr 1fr;
        padding: 10px
    }


    form {
        display: grid;
        grid-template-columns: 2fr;
        margin: 0;
    }

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
    
    .sec-temple {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .temp-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .temp-row iframe {
        height: calc(90vh - 255px);
    }
    
    .rec-wrapper {
    grid-template-columns: 1fr 1fr;
    }
    
    
    
    }
    


    /*----------- FOOTER --------------*/
    footer {
        font-size: 16px;
    }

}

/* end of media query */
