/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/



    /*----------- HEADER --------------*/


    /*----------- NAVIGATION --------------*/


    nav ul li {
        width: auto;
    }

    nav ul li:first-child a {
        border-left: 1px solid #777;
    }

    nav ul li:last-child a {
        border-right: 1px solid #777;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }




    /*----------- MAIN --------------*/

    /*----------- Home Page --------------*/

    .herodiv .btn {
        position: absolute;
        height: 40px;
        top: 80%;
        left: 16rem;
        border-radius: 5%;
        font-size: 25px;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sec2 {
        top: 20px;
        display: block;
        display: inline-block;
        padding-left: 3px;
    }

    .sec2 h3 {
        padding: 0;
        margin: 0;
    }

    .sec2 ul li {
        display: inline-block;
        padding: 5px;
        font-size: 0.8rem;
    }

    .sec3 {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .sec3 figcaption {
        font-size: 16px
    }

    .sec4 img {
        border-radius: 5%;
        padding: 0 10px 0 10px;
    }

    .sec4 figure.photo {
        width: 45%;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    .templegrid {
        grid-template-columns: 1fr 1fr;
        padding: 10px
    }



    .templedata {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .temple-weather {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        padding: 5px;
        margin-bottom: 5px;
    }

    /*------------Reception ---------*/

    .wedding-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }

    .wedding-container div {
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }

    .wedding-container h3 {
        padding: 0;
        margin-bottom: 10px;
    }

    .wedding-container p:first-child {
        margin-top: 84px
    }

    .wedding-container figcaption {
        font-size: 11px;
        font-style: normal;
    }

    .catering-pic {
        grid-column-start: 1;
        grid-column-end: 3;
    }


    .item3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
    }

    .item4 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .item5 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* ------ services ---------- */

    .temple-services {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .temple-services section {
        text-align: center;
        padding: 20px 0;
    }


    .services {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .tempwed h2 {
        margin: 0;
    }

    .services ul {
        text-align: left;
    }

}

/* -------- mission -------------*/

.temple-miss img {
    border-radius: 5%;
    padding: 0 10px 0 10px;
}

.temple-miss figure.photo {
    width: 45%;
    padding-bottom: 5px;
    padding-left: 5px;
}


/*----------- FOOTER --------------*/
footer {
    font-size: 16px;
}

}

/* end of media query */
