/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Raleway', sans-serif;
    padding: 0 10px 0 10px;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    padding: 0 1rem 0 1rem;
    color: #8e8d8a;
}

/*----------- HEADER --------------*/
header {
    text-align: center;
    background-color: #8e8d8a;
    display: flex;
    justify-content: center;
    align-items: center;
}

header figure.logo img {
    width: 160px;
    padding: 0;
    margin: 0;

}

/*----------- NAVIGATION --------------*/

nav,
.topnav {
    background: rgb(142, 141, 138);
    background: -moz-linear-gradient(0deg, rgba(142, 141, 138, 1) 0%, rgba(216, 195, 165, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(142, 141, 138, 1) 0%, rgba(216, 195, 165, 1) 100%);
    background: linear-gradient(0deg, rgba(142, 141, 138, 1) 0%, rgba(216, 195, 165, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8e8d8a", endColorstr="#d8c3a5", GradientType=1);
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #000;
    padding: .8rem 2%;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li.active a {
    background-color: #8e8d8a;
    color: #fff;
}

nav ul li a:hover {
    background-color: #eef5db;
    color: #000;
}

nav ul.hide {
    display: none;
}

/*----------- MAIN --------------*/

/*----------- Home Page --------------*/

main figure.photo {
    width: 100%;
}

main figure.photo img {
    width: 100%;
}

.herodiv {
    position: relative;
}

.herodiv p {
    font-size: 6px;
    text-align: right;
    margin-top: 0;
}

.herodiv .btn {
    position: absolute;
    top: 78%;
    left: 2%;
    font-size: 13px;
    border-radius: 5%;
}

.herodiv .btn:hover {
    background-color: black;
    color: white;
}

.sec2 {
    position: absolute;
    top: 20px;
    right: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 30px #fff;
    float: right;
    font-size: 10px;
    font-weight: bold;
    background: rgba(76, 175, 80, 0.3);
    padding: 0 10px 0 0;
    border-radius: 5px;
}

.sec2 h3 {
    font-size: 15px;
    text-shadow: 2px 2px #000;
    padding: 0 0 0 5px;
    margin: 0;
    color: #fff;
}

.sec2 ul {
    padding: 0 0 5px 5px;
    font-size: 12px;
}

.sec2 ul li {
    margin: 0 0 0 0;
    color: #fff;
    list-style-type: none;
}

.sec3 img {
    width: 100%;
    padding: 0 5px 0 5px;
}

.sec3 figcaption {
    font-size: .6rem;
    text-align: center;
    margin-bottom: 10px;
}

.sec4 h1 {
    text-align: center;
    margin: 0 10 0;
    font-size: 1.5rem;
}

.sec4 p {
    text-align: justify;
    text-justify: inter-word;
}

.sec4 img {
    padding: 5px;
    margin: 0;
}

main figure.photo {
    width: 100%;
    margin: 0 0 0 0;
    float: right;
}

.row {
    background-color: #eae7dc;
    border-top-color: black;
    padding: 5px 0 5px 0;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.row h3 {
    margin: 15px 0 5px 0;
    color: #000;
    font-size: 25px;
}

.row iframe {
    padding: 10px;
    border-top: solid;

}

/*----------Temples Page------------------*/
.templedata {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.templedata article {
    width: auto;
    margin: 2rem 2%;
    padding: 5px;
    border: 3px solid #508991;
    border-radius: 10px;
}

.templedata h2 {
    font-size: 24px;
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.templedata p {
    margin-bottom: 8px;
}

.templedata li {
    font-size: small;
    margin-bottom: 5px;
}

.templedata article img {
    display: grid;
    margin: 0 auto;
    border-radius: 5px;
    width: 100%
}

.sec-temple {
    padding: 10px
}

.sec-temple h1 {
    font-size: 30px;
    text-align: center
}

/*-------- Reception -----------*/

/*------- Reservations -------*/

/* -------------- Form -------------- */

main h1,
main h3 {
    text-align: center;
}

form {
    display: grid;
    max-width: 350px;
    margin: auto;
}

form fieldset {
    margin: 1rem 0;
    border: 1px solid #4f6367;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #4f6367;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div,
textarea {
    display: block;
    padding-top: 1rem;
    color: #fe5f55;
    font-size: 1rem;
}

label.top,
option,
input,
form div,
textarea {
    font-family: 'Raleway', sans-serif;
    padding: 0 10px 0 10px;
    font-size: 1rem;
}


form div {
    padding-top: 1rem;
    padding-left: .75rem;
    font-size: 1rem;

}

form label.top input,
form label.top select,
textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    padding: .75rem 1.5rem;
    color: #4f6367;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form label.sbs {
    display: block;
    padding: .75rem 1.5rem;
    color: #4f6367;
}

form input.submitBtn {
    border: none;
    background-color: #fe5f55;
    color: white;
    border-radius: 1rem;
    padding: .75rem;
    margin: 0 .65rem 1rem;
    width: 95%;
    max-width: 100%;
}

form input.sumitBtn:hover {
    background-color: #4f6367;
    color: #fff;
}

form label.top input:required {
    border-right: #fe5f55 solid 6px;
}

form label.top input:required:valid {
    border-right: #4f6367 solid 6px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -11px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    /* Add cool effects to your sliders! */
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 40px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 40px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #7a9e9f;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.temple-weather {
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}

.temple-weather div {
    border: solid;
    border-radius: 10px;
    margin: 5px;
}

/* ------------- Receptions -------------*/

.wedding-container li {
    margin-right: 10px;
}

.wedding-container figcaption {
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
}

/* ----- temple missionaries ---- */

.temple-miss figure.photo img {
    width: 100%;
    padding-bottom: 5px;
    padding-left: 5px;
}
/*----------- FOOTER --------------*/
footer {
    background-color: #8e8d8a;
    color: #000;
    font-size: 5px;
    padding: .5rem 2%;
    text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
